body {
  background: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

h1 {
  animation: neon 0.08s ease-in-out infinite alternate;
  font-family: "Courgette", cursive;
  font-size: 100px;
  font-weight: bold;
  color: aqua;
  -webkit-text-stroke: 1px purple;
}

strong {
  font-size: 23px;
  animation: neon 0.08s ease-in-out infinite alternate;
}

a {
  font-family: "Courgette", cursive;
  font-size: 19px;
}

#description {
  text-align: right;
  margin: -50px 100px 20px 20px;
  font-family: "Courgette", cursive;
  font-size: 22px;
  color: white;
  -webkit-text-stroke: 0.5px deepskyblue;
  animation: neon 0.08s ease-in-out infinite alternate;
}

.right {
  text-align: right;
  margin: 30px 100px 0 20px;
}

.mb-3 {
  margin: 50px;
}

.mainImg {
  width: 10cm;
  height: 10cm;
  display: inline-block;
  margin: -200px 100px 10px 10px;
}

.days {
  margin: 20px 100px -20px 20px;
  font-family: "Courgette", cursive;
  font-size: 25px;
  color: white;
  -webkit-text-stroke: 0.7px deepskyblue;
  animation: neon 0.08s ease-in-out infinite alternate;
}

.temperature {
  text-align: right;
  margin: -230px 0px -30px 300px;
  font-size: 50px;
  font-family: "Courgette", cursive;
  color: cyan;
  -webkit-text-stroke: 1px purple;
  animation: neon 0.08s ease-in-out infinite alternate;
}

.units a {
  text-decoration: none;
  color: cyan;
  -webkit-text-stroke: 1px purple;
  font-size: 22px;
  animation: neon 0.08s ease-in-out infinite alternate;
}

.units .active {
  color: black;
  -webkit-text-stroke: 1px purple;
  cursor: default;
  font-size: 22px;
  animation: neon 0.08s ease-in-out infinite alternate;
}

.units .active:hover {
  text-decoration: none;
  color: cyan;
  -webkit-text-stroke: 1px purple;
  font-size: 22px;
  animation: neon 0.08s ease-in-out infinite alternate;
}

.details {
  margin: 0px 100px 0 20px;
  font-family: "Courgette", cursive;
  font-size: 17px;
  color: white;
  -webkit-text-stroke: 0.3px deepskyblue;
  animation: neon 0.08s ease-in-out infinite alternate;
}

.row {
  text-align: center;
  margin: 0 -290px 0 -50px;
  font-family: "Courgette", cursive;
  font-size: 13px;
  -webkit-text-stroke: 0.5px cyan;
  color: lightcyan;
}

.forecastImg {
  width: 4cm;
  height: 4cm;
}

@keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(230, 118, 230, 0.92),
      0 0 33px rgba(221, 124, 216, 0.555), 0 0 11px rgba(216, 113, 194, 0.52),
      0 0 22px rgba(223, 124, 214, 0.92), 0 0 33px rgba(219, 119, 206, 0.78),
      0 0 55px rgba(228, 117, 228, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(192, 108, 147, 0.98),
      0 0 33px rgba(182, 90, 141, 0.42), 0 0 11px rgba(182, 109, 154, 0.58),
      0 0 22px rgba(228, 130, 190, 0.84), 0 0 33px rgba(206, 98, 170, 0.88),
      0 0 66px rgb(230, 109, 183);
  }
}
